<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

<title>Luke's reviews</title>
<!-- stylesheet -->
<link rel="stylesheet" href="../static/bear.css">

<!-- javascript-->
<script defer src="../static/index.js"></script>

<!-- font -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap" rel="stylesheet">
<!-- icons -->
<script src="https://kit.fontawesome.com/338c36f7f1.js" crossorigin="anonymous"></script>



<!-- NOTES -->
<!-- ARTICLE SWELLS WHEN YOU CLICK ON IT -->
<!-- HORIZONTAL NAVIGATION SWIPE -->
<!-- LOGO/ TITLE OF WEBSITE -->
<!-- MAKE GAP BETWEEN ARTICLES BIGGER -->
<!-- IN LINE: read more, photos, first line of title, article sample end at same point on the page -->
<!-- do not forget to give a shoutout to skrollr.js for using that code to allow for scrolling horizontally also special thanks to Online Tutorials on youtube -->

</head>
<body>
    <!-- NAVBAR -->

    <div class="banner">

        <div class="logo">
            <img src="../images/logo.png">
        </div>


        <div class="navBlock">
            <nav>
                <div class="navigation-bar">
                    <ul>
                        <li><a href="index.html">REVIEWS</a></li>
                        <li><a href="index.html#about">ABOUT</a></li>
                    </ul>
                </div>
            </nav>
        </div>


        <div class="share">
            <div class="insta">
                <a href="https://www.instagram.com/llukecs/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                </div>

                <div class="linkedin">
                    <a href="https://www.linkedin.com/sharing/share-offsite/?url=https://www.example.com" target="popup"
                    onClick="MyWindow=window.open('https://www.linkedin.com/sharing/share-offsite/?url=https://www.example.com','MyWindow','width=600,height=500'); return false;">
                        <i class="fa-brands fa-linkedin"></i>
                    </a>
                </div>

                <div class="twitter">
                    <a href="https://twitter.com/intent/tweet?text=read this! yunghwa.com/reviews/spiderverse2" target="popup"
                    onClick="MyWindow=window.open('https://twitter.com/intent/tweet?text=read this! yunghwa.com/reviews/spiderverse2','MyWindow','width=600,height=500'); return false;">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                </div>

                <div class="facebook" data-layout="" data-size="">
                    <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fyunghwa.com/reviews/spiderverse2" target="popup"
                    onClick="MyWindow=window.open('https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fyunghwa.com/reviews/spiderverse2','MyWindow','width=600,height=500'); return false;">
                        <i class="fa fa-facebook-square" aria-hidden="true"></i>
                    </a>
                </div>
        </div>

    </div>

    <section class="reviews" id="reviews"><a href="#top">

        <div class="container">

            <div class="blog-img">
                <img src="../images/richiecarmy2.jpeg">
            </div>


            <div class="blog-box">


                <div class="blog-text">
                    <h1>THE BEAR | FORKS</h1>
                    <div class="stars">
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                        <i class="fa-regular fa-star"></i>
                    </div>

                    <span><i class="fa-regular fa-clock"></i>  2 July 2023</span>

                    <div class="review-title">
                        <a href="#" class="blog-title">Season two all day, chef!</a>
                    </div>

                    <div class="main-text">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id gravida elit. Curabitur at egestas orci. Mauris faucibus nibh ut commodo ornare.
                            Vivamus a nulla non massa blandit mattis. Sed mollis venenatis tristique. Mauris eu felis non est aliquet dapibus ac ut eros. Quisque sed sem sollicitudin,
                            aliquam ex at, consectetur lorem. Fusce ultrices non eros ac malesuada. Integer non imperdiet lacus, nec semper risus.
                            In convallis pulvinar dolor faucibus accumsan. Vivamus et neque nisl. Nulla dictum gravida lectus, ac malesuada neque vestibulum vel. Sed non quam consequat,
                            vehicula tortor pulvinar, porta purus. Morbi volutpat blandit mattis. Pellentesque eget elit neque. Sed vitae leo lorem. Mauris luctus sed ligula quis rutrum.
                            Integer hendrerit non enim nec pharetra. Maecenas sed est mi. Aliquam sit amet purus sem. Donec mollis ipsum ac magna gravida, id varius enim scelerisque.
                            Nulla consectetur convallis ligula, ac gravida neque tincidunt id. Suspendisse potenti. Phasellus consectetur accumsan leo, ullamcorper gravida neque
                            rhoncus gravida. Proin semper neque sit amet tincidunt tristique. Ut eleifend ultrices risus. Integer ultrices elementum metus, venenatis ornare libero
                            aliquam nec. Integer tempor nisl dapibus dignissim gravida. Donec ac odio quam. Morbi tempus nulla sed ultricies ultricies. Sed posuere dui id odio venenatis,
                            nec faucibus dolor molestie. Aliquam erat volutpat. Nullam tincidunt ornare est, id malesuada libero commodo nec. Mauris a metus volutpat, consectetur mi non,
                            mattis sapien.
                        </p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id gravida elit. Curabitur at egestas orci. Mauris faucibus nibh ut commodo ornare.
                            Vivamus a nulla non massa blandit mattis. Sed mollis venenatis tristique. Mauris eu felis non est aliquet dapibus ac ut eros. Quisque sed sem sollicitudin,
                            aliquam ex at, consectetur lorem. Fusce ultrices non eros ac malesuada. Integer non imperdiet lacus, nec semper risus.
                            In convallis pulvinar dolor faucibus accumsan. Vivamus et neque nisl. Nulla dictum gravida lectus, ac malesuada neque vestibulum vel. Sed non quam consequat,
                            vehicula tortor pulvinar, porta purus. Morbi volutpat blandit mattis. Pellentesque eget elit neque. Sed vitae leo lorem. Mauris luctus sed ligula quis rutrum.
                            Integer hendrerit non enim nec pharetra. Maecenas sed est mi. Aliquam sit amet purus sem. Donec mollis ipsum ac magna gravida, id varius enim scelerisque.
                            Nulla consectetur convallis ligula, ac gravida neque tincidunt id. Suspendisse potenti. Phasellus consectetur accumsan leo, ullamcorper gravida neque
                            rhoncus gravida. Proin semper neque sit amet tincidunt tristique. Ut eleifend ultrices risus. Integer ultrices elementum metus, venenatis ornare libero
                            aliquam nec.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id gravida elit. Curabitur at egestas orci. Mauris faucibus
                            nibh ut commodo ornare. Vivamus a nulla non massa blandit mattis. Sed mollis venenatis tristique. Mauris eu felis non est aliquet
                            dapibus ac ut eros. Quisque sed sem sollicitudin, aliquam ex at, consectetur lorem. Fusce ultrices non eros ac malesuada. Integer
                            non imperdiet lacus, nec semper risus. In convallis pulvinar dolor faucibus accumsan. Vivamus et neque nisl. Nulla dictum gravida
                            lectus, ac malesuada neque vestibulum vel. Sed non quam consequat, vehicula tortor pulvinar, porta purus. Morbi volutpat blandit
                            mattis. Pellentesque eget elit neque. Sed vitae leo lorem. Mauris luctus sed ligula quis rutrum. Integer hendrerit non enim nec pharetra.
                            Maecenas sed est mi. Aliquam sit amet purus sem. Donec mollis ipsum ac magna gravida, id varius enim scelerisque. Nulla consectetur
                            convallis ligula, ac gravida neque tincidunt id. Suspendisse potenti. Phasellus consectetur accumsan leo, ullamcorper gravida neque
                        </p>
                    </div>

                </div>
            </div>

        </div>


    </section>

    <section class="about" id="about">

        <div class="bottom-banner">

            <div class="bannerBlock img">
                <img src="../images/logobottom.png">
            </div>

            <div class="bannerBlock">
                <h1>LUKE'S FILM BLOG</h1>
                <p>

                    206A High Street Brentford
                    <br>
                    TW8 8AH
                    <br>
                    London, United Kingdom
                </p>
            </div>

            <div class="bannerBlock">
                <h1>Contact Us</h1>
                <p>

                    Write to us!
                    <br>
                    Career Opportunities
                    <br>
                    PO BOX
                </p>
            </div>

            <div class="bannerBlock">
                <h1>Follow Us</h1>
                <p>
                    <div class="shareBanner">
                        <div class="insta">
                            <a href="https://www.instagram.com/llukecs/" target="_blank">
                                <i class="fab fa-instagram"></i>
                            </a>
                            </div>

                        <div class="twitter">
                            <a href="https://twitter.com/mjaeart" data-size="large">
                                <i class="fa fa-twitter-square" aria-hidden="true"></i>
                            </a>
                        </div>

                        <div class="facebook" data-layout="" data-size="">
                            <a href="https://www.facebook.com/profile.php?id=100001838975092">
                                <i class="fa fa-facebook-square" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </p>
            </div>


        </div>

    </section>
</body>
</html>
